.DS_Store
debug*
datasets/
checkpoints/
results/
experiments/
build/
dist/
*.png
torch.egg-info/
*/**/__pycache__
torch/version.py
torch/csrc/generic/TensorMethods.cpp
torch/lib/*.so*
torch/lib/*.dylib*
torch/lib/*.h
torch/lib/build
torch/lib/tmp_install
torch/lib/include
torch/lib/torch_shm_manager
torch/csrc/cudnn/cuDNN.cpp
torch/csrc/nn/THNN.cwrap
torch/csrc/nn/THNN.cpp
torch/csrc/nn/THCUNN.cwrap
torch/csrc/nn/THCUNN.cpp
torch/csrc/nn/THNN_generic.cwrap
torch/csrc/nn/THNN_generic.cpp
torch/csrc/nn/THNN_generic.h
docs/src/**/*
test/data/legacy_modules.t7
test/data/gpu_tensors.pt
test/htmlcov
test/.coverage
*/*.pyc
*/**/*.pyc
*/**/**/*.pyc
*/**/**/**/*.pyc
*/**/**/**/**/*.pyc
*/*.so*
*/**/*.so*
*/**/*.dylib*
test/data/legacy_serialized.pt
*~
.idea
*.egg-info/
*.json
.venv

#Ignore Wandb
wandb/

#ignore support folders
./test_import_images
*.nii
datasets/bibtex/cityscapes.tex
datasets/bibtex/facades.tex
datasets/bibtex/handbags.tex
datasets/bibtex/shoes.tex
datasets/bibtex/transattr.tex

# Ignore pickled files and pytorch files
*.pkl
*.pth
*.pt

# Ignore HDF5 files
*.h5
*.hdf5

#Ignore matlab cache
*.asv
*.m~