datasets>=4.0.0
evaluate>=0.4.5
ipykernel>=6.30.1
ipywidgets>=8.1.7
jupyter>=1.1.1
lightning>=2.5.4
matplotlib>=3.10.6
numpy>=2.3.2
scikit-learn>=1.7.1
tensorboard>=2.20.0
torch>=2.8.0
torchvision>=0.23.0
tqdm>=4.67.1
transformers[torch]>=4.56.0